@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

a {
  color: #3C302F;
}

a:hover {
  color: #3C302F;
  transition: 0.3s;
  text-decoration: none;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}

.container:not(footer .container) {
  margin-top: 70px;
  margin-bottom: 70px;
}

.jumbotron {
  background-image: asset-url('chiangmai-caffe.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 325px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

img {
  width: 100%;
  aspect-ratio: 1.5 / 1;
  object-fit: cover;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

h1,h2 {
  margin-bottom: 40px;
  color: rgb(211, 185, 70);
  font-family: 'Rubik Dirt', cursive;
  text-align: center;
}

h3, h4 {
  color: #fff;
}

// kaminari view bootstrap4
.pagination a,
.pagination span.current,
.pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: #d3b946;;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  margin: 30px 0px 50px;
  justify-content: center;

  .first {
    padding: 0;
    float: none;
    border: none;
  }

  .prev {
    padding: 0;
    float: none;
    border: none;
  }

  .page {
    padding: 0;
    float: none;
    border: none;
  }

  .next {
    padding: 0;
    float: none;
    border: none;
  }

  .last {
    padding: 0;
    float: none;
    border: none;
  }
}

.logout-button {
  margin-right: 5px;
}

.user-name {
  margin-top: 4.5%;
  padding-right: 15px;
  color: white;
}

* {
  font-family: 'Noto Sans JP', sans-serif;
}

.card-body {
  padding: 0;
}

.card-text-container {
  padding: 15px;
}

.card-text-container ,.like-container ,.button-area-container, .footer-container {
    padding: 15px;
}

body {
  background-color: #3C302F;
}

.like-heart {
  color: #DD2A7B;
}

.dislike-heart {
  color: #fff;
  border: 1px solid #DD2A7B;
}

.like-container a{
  color: #DD2A7B;
}

.like-container a:hover{
  color: #DD2A7B;
  transition: none;
  opacity: 1;
}

.user-name-nav a {
  color: #fff;
}

.log-in-link {
  background-color: rgb(211, 185, 70);
font-size: 18px;
text-align: center;
}
.log-in-link:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.log-in-inline {
  margin-left: 10px;
}

.view-btn {
margin: 0 auto;
margin-top: 20px;
text-align: center;
}

.view-btn .btn {
font-size: 18px;
}

.log-in-container {
  max-width: 100%;
  width: 500px;
  margin: 0 auto;
  color: #fff;
  padding: 0 15px;
}

.log-in-container .form-group-login {
 text-align: center;
}

body {
  position: relative;
  min-height: 100%;
}

.login_link_html a{
  color: #fff !important;
}

.area-label {
  background-color: #ffc107;
  padding: 2px 5px;
  color: #fff;
  border-radius: 5%;
}

.area-label2 {
  background-color: #5fad71;
  padding: 2px 5px;
  color: #fff;
  border-radius: 5%;
}

.area-label3 {
  background-color: #596067;
  padding: 2px 5px;
  color: #fff;
  border-radius: 5%;
}

.caffe-name, .card-text-username {
  font-weight: bold;
  font-size: 18px;
}

.index-user-username {
  margin-left: 10px;
}

.footer-container .index-user {
  display: flex;
}

footer {
    background-color: black;
    width: 100%;
    text-align: center;
}

.footer-container {
padding-top: 0;
}

.like-list-container {
  margin-top: 0;
}

.user-profile-image {
max-width: 500px;
margin: 0 auto;

}

.below-text a{
  color: #fff;
}

.introduce-container {
  margin: 0 auto;
max-width: 500px;
  color: #fff;
  font-size: 18px;
  text-align: left;
}

.create-caffe-container {
  max-width: 800px;
  margin-top: 50px;
}

// swiper css
 .swiper {
   width: 100%;
   height: 100%;
 }

 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
 }

 .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .swiper {
   width: 100%;
   height: 300px;
   margin-left: auto;
   margin-right: auto;
 }

 .swiper-slide {
   background-size: cover;
   background-position: center;
 }

 .mySwiper2 {
   height: 80%;
   width: 100%;
 }

 .mySwiper {
   height: 20%;
   box-sizing: border-box;
   padding: 10px 0;
 }

 .mySwiper .swiper-slide {
   width: 25%;
   height: 100%;
   opacity: 0.4;
 }

 .mySwiper .swiper-slide-thumb-active {
   opacity: 1;
 }

 .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .card-container {
  flex-direction: row;
 }

 .card-body-show-caffe {
  width: 50%;
 }

 .card-text-caffe-show-container {
  width: 40%;
  text-align: left;
  font-size: 1.1rem;
 }

 .caffe-show-container {
  max-width: 2000px;
 }

 .caffe-name-show {
  font-weight: bold;
  font-size: 24px
 }

 .log-in-link-create {
margin-right: 10px;
 }

.username-color {
  color: rgb(211, 185, 70);
}

.username-color:hover{
  color: rgb(211, 185, 70);
  opacity: 0.8;
  transition: 0.3s;
}
