@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

a {
  color: #3C302F;
}

a:hover {
  color: #3C302F;
  transition: 0.3s;
  text-decoration: none;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}

.container:not(footer .container) {
  margin-top: 70px;
  margin-bottom: 70px;
}

.jumbotron {
  background-image: asset-url('chiangmai-caffe.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 325px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
  background-color: black;
}

img {
  width: 100%;
  aspect-ratio: 1.5 / 1;
  object-fit: cover;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

h1,h2 {
  margin-bottom: 40px;
  color: rgb(211, 185, 70);
  font-family: 'Rubik Dirt', cursive;
  text-align: center;
}

h3, h4 {
  color: #fff;
}

// kaminari view bootstrap4
.pagination a,
.pagination span.current,
.pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
  margin: 30px 0px 50px;

  .first {
    padding: 0;
    float: none;
    border: none;
  }

  .prev {
    padding: 0;
    float: none;
    border: none;
  }

  .page {
    padding: 0;
    float: none;
    border: none;
  }

  .next {
    padding: 0;
    float: none;
    border: none;
  }

  .last {
    padding: 0;
    float: none;
    border: none;
  }
}

.logout-button {
  margin-right: 5px;
}

.user-name {
  margin-top: 4.5%;
  padding-right: 15px;
  color: white;
}

* {
  font-family: 'Noto Sans JP', sans-serif;
}

.card-body {
  padding: 0;
}

.card-text-container {
  padding: 15px;
}

.card-text-container ,.like-container ,.button-area-container, .footer-container {
    padding: 15px;
}

body {
  background-color: #3C302F;
}

.like-heart {
  color: #DD2A7B;
}

.dislike-heart {
  color: #fff;
  border: 1px solid #DD2A7B;
}

.like-container a{
  color: #DD2A7B;
}

.like-container a:hover{
  color: #DD2A7B;
  transition: none;
  opacity: 1;
}

.user-name-nav a {
  color: #fff;
}

.log-in-link {
  background-color: rgb(211, 185, 70);
font-size: 18px;
text-align: center;
}
.log-in-link:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.log-in-inline {
  margin-left: 10px;
}

.view-btn {
margin: 0 auto;
margin-top: 20px;
text-align: center;
}

.view-btn .btn {
font-size: 18px;
}

.log-in-container {
  max-width: 100%;
  width: 500px;
  margin: 0 auto;
  color: #fff;
  padding: 0 15px;
}

.log-in-container .form-group-login {
 text-align: center;
}

body {
  position: relative;
  min-height: 100%;
}

.fixed-footer {
  position: absolute ;
  bottom: 0;
  width: 100%;
}

.login_link_html a{
  color: #fff !important;
}

.area-label {
  background-color: #ffc107;
  padding: 2px 5px;
  color: #fff;
  border-radius: 5%;
}

.area-label2 {
  background-color: #5fad71;
  padding: 2px 5px;
  color: #fff;
  border-radius: 5%;
}

.area-label3 {
  background-color: #596067;
  padding: 2px 5px;
  color: #fff;
  border-radius: 5%;
}

.caffe-name, .card-text-username {
  font-weight: bold;
  font-size: 18px;
}

.index-user-username {
  margin-left: 10px;
}

.footer-container .index-user {
  display: flex;
}

.footer-container {
padding-top: 0;
}

.like-list-container {
  margin-top: 0;
}

.user-profile-image {
max-width: 500px;
margin: 0 auto;

}

.below-text a{
  color: #fff;
}

.introduce-container {
  margin: 0 auto;
max-width: 500px;
  color: #fff;
  font-size: 18px;
  text-align: left;
}

.create-caffe-container {
  max-width: 800px;
  margin-top: 50px;
}
