    @media (min-width: 600px) {
    }

    @media (max-width: 599px) {
      .top-header {
          background-color: rgba(60, 48, 47, 0.5);
          padding: 20px;
          position: absolute;
          left: 0%;
          top: 25%;
          z-index: 5;
          width: 100%;
          color: #d3b946;
        }

    .logout-button {
      padding-left: 0;
    }

        .col-1,
        .col-2,
        .col-3,
        .col-4,
        .col-5,
        .col-6,
        .col-7,
        .col-8,
        .col-9,
        .col-10,
        .col-11,
        .col-12,
        .col,
        .col-auto,
        .col-sm-1,
        .col-sm-2,
        .col-sm-3,
        .col-sm-4,
        .col-sm-5,
        .col-sm-6,
        .col-sm-7,
        .col-sm-8,
        .col-sm-9,
        .col-sm-10,
        .col-sm-11,
        .col-sm-12,
        .col-sm,
        .col-sm-auto,
        .col-md-1,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-10,
        .col-md-11,
        .col-md-12,
        .col-md,
        .col-md-auto,
        .col-lg-1,
        .col-lg-2,
        .col-lg-3,
        .col-lg-4,
        .col-lg-5,
        .col-lg-6,
        .col-lg-7,
        .col-lg-8,
        .col-lg-9,
        .col-lg-10,
        .col-lg-11,
        .col-lg-12,
        .col-lg,
        .col-lg-auto,
        .col-xl-1,
        .col-xl-2,
        .col-xl-3,
        .col-xl-4,
        .col-xl-5,
        .col-xl-6,
        .col-xl-7,
        .col-xl-8,
        .col-xl-9,
        .col-xl-10,
        .col-xl-11,
        .col-xl-12,
        .col-xl,
        .col-xl-auto {
          padding-right: 8px;
          padding-left: 8px;
        }

    .like-container {
      padding-top: 0;
      padding-bottom: 0;
    }

    .caffe-name {
      margin-bottom: 10px;
    }

    .dropdown-menu .dropdown-item {
      padding-left: 0;
    }

        .container:not(footer .container) {
          margin-top: 30px;
          margin-bottom: 70px;
        }

            .col-8 {
              -ms-flex: 0 0 66.666667%;
              flex: 0 0 66.666667%;
              max-width: 100% !important;
            }


      }

      @media (max-width: 767px) {
  .col-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 100% !important;
    }


.card-text-caffe-show-container {
  width: 100%;
  text-align: left;
  font-size: 1.1rem;
}

 .card-container {
  flex-direction: column;
 }

 .card-body-show-caffe {
  width: 100%;
 }

 .card-text-caffe-show-container {
  width: 100%;
 }

 h1,
 h2 {
   margin-bottom: 20px;
   text-align: center;
 }

 .container:not(footer .container) {
   margin-bottom: 30px;
 }

     .fixed-footer {
       position: relative;
       right: 0;
       bottom: 0;
       left: 0;
       z-index: 1030;
     }

    .user-show-container {
      padding-left: 5px;
      padding-right: 5px;
    }

    .col-10-form-caffe .form-group {
      display: block;
    }

         .col-10-form-caffe .col-10 {
          -ms-flex: 0 0 83.333333%;
          flex: 0 0 83.333333%;
          max-width: 100%;
          text-align: center;
        }

         .col-10-form-caffe .col-10-form-caffe-submit {
          text-align: center;
        }

        .button-area-container {
          padding-top: 0;
          padding-bottom: 0;
        }

    }

            @media (max-width: 375px) {
    .fixed-footer-sighup {
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
      }
            }
